/**
*  CPNT 201: Web Design Tools and Techniques
*  Assignment 2: Raster Image Optim0ization
*
*  Date created: 2021.10.03
*  Author: Byung Uk An
*/

h1, h2 {
  text-align: center;
}

.container {
  width:90vw;
  max-width: 1920px;
  margin:auto;
}

.container-1920 {
  width:90vw;
  max-width: 1920px;
  margin:auto;
}

.container-800 {
  width:90vw;
  max-width: 800px;
  margin:auto;
}

.container-500 {
  width:90vw;
  max-width: 500px;
  margin:auto;
}

img {
  display:block;
  width:100%;
  margin:3rem auto;
}

